/*设置全局字体*/
body {
	background-color: #f0f1f2;
	font-family :"Helvetica Neue","Arial","STHeiti","微软雅黑","Simsun",sans-serif;
	font-size : 14px;
	color : #333;
}
/*禁用bootstrap响应式容器*/
.container {
	width: 970px !important;
}
/*格式化jquery-ui构件*/
.ui-widget {
	font-size : 14px;
}
a{
	color:#1970b2;
	outline: none;
}
a:hover{
	color:#2e9bd1;  
}
.melon-heading {
	margin-bottom : 0px;
	border-bottom-style : none;
	box-shadow : none;
}
/*通用模板样式*/
.melon-menu-group .melon-menu-item .container {
	padding : 0px;
}

/***************************常用的文字颜色************************************************/
.melon-txt-deafult {
	color :#3c3c3c;
}
.melon-txt-primary {
	color:#2e9bd1;
}
.melon-txt-info {
	color:  #1970b2;
}
.melon-txt-info-highLight {
	color:  #2e9bd1;
}
.melon-txt-success {
	color : #139e54;
}
.melon-txt-success-highLight {
	color : #19b266;
}
.melon-txt-error {
	color: #e03636;
}
.melon-txt-error-highLight {
	color: #f55549;
}
.melon-txt-warning {
	color : #f5651d;
}
.melon-txt-warning-highLight {
	color : #ff7733;
}
.melon-txt-forbid{
	color:#d3d8db;
}



/**
  * Logo	
  */
.melon-menu-group .melon-menu-primary .melon-logo,.melon-menu-group .melon-menu-primary .melon-logo:hover{
	background : url(images/logo-wangshen.svg) no-repeat left center ;
	width:93px;
	height:50px;
}
  
.melon-menu-group .melon-menu-primary .melon-logo {
	width:93px; 
	height:50px;
	background-position: left center;
	display : block;
	float : left;
	margin-right:18px;
 }
/* .melon-menu-group .melon-menu-primary .melon-logo:hover{
 	background-position : -52px -2px;
} */

 /**
  * 用户图标	 
  */
  .user-icon, .user-icon:hover, .user-info-open-light,.user-info-open-light:hover{
	 background-image: url('images/melon-commons-icon.png');
	 width:32px;
	 height:32px;
  }	
 .user-icon{
 	background-position: -10px -56px;
 	display: inline-block;
 	margin-bottom:-12px;
 }	
 .user-icon:hover{
 	background-position: -52px -56px;
 }	
 .user-info-open-light{
 	height:16px;
 	width:16px;
 	display:inline-block;
 	background-position: -10px -98px;
 	margin-bottom:-5px;
 }	
 .user-info-open-light:hover{
 	height:16px;
 	width:16px;
 	display:inline-block;
 	background-position: -36px -98px;
 }
 /**
  * 一级菜单
  */
.melon-menu-group .melon-menu-primary{
	height : 50px;
	background : url("images/first-menu-bg.png") repeat-x;
	box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.33);
}

/**
  * 主菜单宽度
  */
.melon-menu-group .melon-menu-primary .primary-menu-group {
	width : 860px;
	height : 100%;
}

/*一级菜单默认颜色*/ 
.primary-menu-group a.primary-menu-item {
	line-height : 50px;
	float : left;
	color : #bbb;
	text-align : center;
	text-decoration: none; 
	font-size:16px;
}

/*聚焦状态*/
.primary-menu-group a.primary-menu-item.menu-item-focus  span{
	display: inline-block;
	border-bottom:2px solid #fff;
	color : #fff;
	line-height:46px;
	padding-top:2px;
} 

/*一级菜单滑过颜色*/
.primary-menu-group a.primary-menu-item:hover {
	color : #fff;
}    	

/**
 * 用户登录信息 	
 */
.melon-menu-group .melon-menu-primary .melon-user-info {
 	width : 90px;
 	height : 100%;
 	line-height : 50px;
 	float : right;
 	text-align : right;
 	font-size:12px;
 }
.melon-menu-group .melon-menu-primary .melon-user-info a {
	text-decoration: none;
	color:#bbb;
}

.melon-menu-group .melon-menu-primary .melon-user-info a:hover{
	color:#ffffff;
}
/* 下拉框划过背景及文字颜色  */
.dropdown-menu li a:hover{
	background-color:#f0f0f0;
	color:#2e6aa6;
}
 /**
   * 二级菜单
   */
.melon-menu-group .melon-menu-secondary {
	height : 38px;
	clear : both;
	background: url("images/menu-secondary-back.png") repeat-x;
	box-shadow:         0px 1px 3px 0px rgba(0,0,0,0.24);
}
/*二级菜单项*/
.melon-menu-group .melon-menu-secondary .secondary-menu-item {
 	float : left;
 	height : 38px;
 	line-height : 38px;
 	text-align : center;
 	padding : 0px 20px;
 	font-weight:bold;
}
/*二级菜单项链接*/    	
.melon-menu-group .melon-menu-secondary .secondary-menu-item>a {
	text-decoration : none;
	color : #666;
}
/*二级菜单划过颜色*/     	
.melon-menu-group .melon-menu-secondary .secondary-menu-item>a:hover{
	color : #3376b8;
}
/*二级菜单项聚焦颜色*/     	
.melon-menu-group .melon-menu-secondary .secondary-menu-item>a.secondary-menu-focus {
	color : #3376b8;
}

/* 二级菜单右侧我的邮箱和待办任务 */
.secondary-menu-right{
	float:right;
	height:38px;
	width:166px;
}
/*邮箱*/
.secondary-menu-right .my-email{
 	width:48px;
 	height:30px;
 	margin-top:8px;
 	display:inline-block;
 	background-color: #5880c7;
 	border-radius:2px;
 }
 .secondary-menu-right .my-email .my-email-icon, .secondary-menu-right .waitTodo-icon{
 	height:16px;
	width:16px;
 	background-image: url("images/melon-commons-icon.png");
 	margin-top: 5px;
 }
.secondary-menu-right .my-email .my-email-icon{
 	background-position: -10px -122px;
	margin:0 auto;
	margin-top: 5px;
}
/* 待办任务*/
.secondary-menu-right .waitTodo{
 	width:106px;
 	height:30px;
 	margin-top:8px;
 	border-radius:2px;
 	background-color: #2e9bd1;
 	display:inline-block;
 	float:right;
 }
.secondary-menu-right .waitTodo-icon{
 	background-position: -36px -122px;
	display: inline-block;
	margin-left:12px;
}
.secondary-menu-right .waitTodo span{
	float:right;
	margin-right:12px;
	font-size:12px;
	color:#fff;
	line-height:30px;
}
.secondary-menu-right .my-email:hover{
	background-color: #4873bd;
}
.secondary-menu-right .my-email:active{
	background-color: #4368a8;
}
.secondary-menu-right .waitTodo:hover{
	background-color: #248bc7;
}
.secondary-menu-right .waitTodo:active{
	background-color: #2475b2;
}

.melon-path-container {
	height:56px;
	padding:20px 0px;
}

/*访问路径样式*/
.melon-path-item {
  	line-height : 16px;
  	height : 16px;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}

.melon-path-info {
	font-size : 12px;
	text-align: right;
	color : #808080;
}
.melon-path-info>.breadcrumb {
	background : none;
}
.breadcrumb>li>a {
	font-size : 12px;
	color : #808080;
}
.breadcrumb>li>a:hover {
	color :  #2e9bd1;
}


/*内容区样式*/
.melon-body {
  	background-color : #fff;
  	border:1px solid #e1e4e5;
  	min-height:400px;
  	margin-top:20px;
}


/*Logger*/
.noty-group .alert {
	margin-bottom : 5px;
}

/*Dialog*/
.melon-dialog {
}

/*图标所占位置*/
.melon-dialog .dialog-icon-container {
	width : 25%;
}
/**
 * 	提示文字
 */
.melon-dialog .dialog-text {
	width : 75%;
	font-size : 14px;
	padding : 0px 15px;
}

/*消除按钮的外阴影*/
.ui-dialog-buttonset .ui-state-focus {
	background : transparent;
	outline : none;
}

.dialog-icon {
	background-image:url('images/melon-commons-icon.png');
	width:36px;
	height:36px;
	margin : 0px auto;	
}

.dialog-default .dialog-icon {
	background-position: -148px -10px;
}

.dialog-warning .dialog-icon {
	background-position: -56px -10px;
}

.dialog-success .dialog-icon {
	background-position: -102px -10px;
}

.dialog-danger .dialog-icon {
	background-position: -10px -10px;
}

/*默认状态*/
.ui-dialog .ui-dialog-titlebar {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  color : #333;
  border-color : #ddd;
  border-top : none;
  border-left : none;
  border-right : none;
}
/*危险状态*/
.dialog-danger.ui-widget-content, .dialog-danger .ui-dialog-titlebar, .dialog-danger .ui-widget-content{
	border-color: #ebccd1;
	color: #a94442;
}
.dialog-danger .ui-dialog-titlebar {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: -o-linear-gradient(top, #f2dede 0%, #ebcccc 100%);
  background-image: linear-gradient(to bottom, #f2dede 0%, #ebcccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffebcccc', GradientType=0);
}

/*成功状态*/
.dialog-success.ui-widget-content, .dialog-success .ui-dialog-titlebar, .dialog-success .ui-widget-content{
	border-color: #d6e9c6;
	color: #3c763d;
}
.dialog-success .ui-dialog-titlebar {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: -o-linear-gradient(top, #dff0d8 0%, #d0e9c6 100%);
  background-image: linear-gradient(to bottom, #dff0d8 0%, #d0e9c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffd0e9c6', GradientType=0);
 }
/*警告状态*/
.dialog-warning.ui-widget-content, .dialog-warning .ui-dialog-titlebar, .dialog-warning .ui-widget-content{
	border-color: #faebcc;
    color: #8a6d3b;
}
.dialog-warning .ui-dialog-titlebar {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: -o-linear-gradient(top, #fcf8e3 0%, #faf2cc 100%);
  background-image: linear-gradient(to bottom, #fcf8e3 0%, #faf2cc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fffaf2cc', GradientType=0);
 }

/*通用提示框样式结束**/



/*Form表单开始*/
/*一个页面只放一个表单时的布局*/
.form-singlon {
	
}
/*标签信息控制*/
.form-group .control-label {
	font-weight : normal;
	text-align : left;
	font-size : 16px;
}

/*必填项提示信息*/
.form-group .form-required {
	float : left;
	color : red;
	font-size : 20px;
	margin-left : -16px;
}

/*输入框样式控制*/
.form-group .form-field {
}

/*按钮样式,与输入框对齐*/
.form-group  .form-buttons {
	padding-left : 15px;
}

/*提示信息*/
.form-group .form-hint,  .form-group .control-error{
	font-weight : normal;
	font-size : 12px;
	display : block;
	margin : 5px 0px;
	clear : both;
}

/*辅助信息*/
.form-group .form-hint {
	color : #aaa;
}
/*辅助信息 带链接*/
.form-group a.form-hint {
	color: #428bca;
}

/*错误信息*/ 
.form-group .control-error {
	color : #f55549;
}
/* 错误提示框颜色 */
.has-error .form-control{
	border-color : #f55549;
}
.has-error .form-control:focus{
	border-color : #f55549;
}

/*复选框样式控制*/
.form-group .form-field .checkbox-inline,  .form-group .form-field .radio-inline{
	display : block;
	margin-left : 0px;
	width : 33%;
	float : left;
}

/*动态添加属性小按钮*/
.form-group .form-field .btn-property{
	background-color: #dbdbdb;
	color:#525252;
	margin:5px 0px;
}
.form-group .form-field .btn-property:hover{
	background-color: #2e9bd1;
	color:#ffffff;
}

.form-control-static {
	padding-top:0px;
	padding-bottom:0px;	
	display: inline-block;
}


/*Grid页面查询表单,默认隐藏*/
.form-query  .form-group{
	display : none;
}

/*快速查询区,默认显示*/
.form-query .form-query-actions {
	display : block;
}

/*高级查询按钮*/
.form-query .form-query-actions .advance-search{
	color:#1970b2;
}
.form-query .form-query-actions .advance-search .advance-open, .advance-open-up {
	height:16px;
	width:16px;
	display: inline-block;
	background-image: url('images/melon-commons-icon.png');
	margin:0 0 -4px -4px;
}
.form-query .form-query-actions .advance-search .advance-open{
	background-position: -114px -98px;
}
.form-query .form-query-actions .advance-search .advance-open:hover{
	background-position: -140px -98px;
}
.advance-open-up{
	background-position: -166px -98px;
}
.advance-open-up:hover{
	background-position: -192px -98px;
}

/*表格表单样式*/
.table-form .control-error{
	color :red;
	font-size:12px;
	border-bottom : 1px solid red;
}


/**
 * 	查询表单的查询项分组样式
 */
.form-query  .form-group .form-field-group {
	padding-left : 0px;
}

/*查询表单的查询按钮样式*/
.form-query  .form-group .query-buttons {
	margin-left : -10px;
}

/*  readonly输入框状态  */
.form-control[readonly]{
	background-color:#ffffff;
	cursor:pointer;
}

/**
 * 	查询表单的Label样式
 */
.form-query .form-group .form-field-group .control-label {
	font-size : 14px;
	text-align : right;
}

/* 查询表单的 输入项 样式 */
.form-query .form-group .form-field-group .form-field {
	padding-right : 5px;
}

/*时间查询样式*/
.form-query .form-group .form-field-group .form-field .form-field-time {
	display : inline;
	width : 109px;
	padding : 6px 3px;
}

.form-query .radio-inline, .form-query .checkbox-inline {
	float : left;
	width : 25%;
}
/*按钮区域*/
.form-button-panel {
	padding-top : 20px;
}

/*明细页面*/
.form-show .form-group .control-label {
	font-size : 14px;
	padding-top : 5px;
	color : #666666;
}

.form-show .form-group {
	border-bottom : 1px solid #ebeced;
	margin-left : 10px;
	margin-bottom : 3px;
}

.form-show .form-group.form-button-panel {
	border-bottom-style : none;
}

.form-show .form-group .form-control-items {
	padding-top : 5px;
	padding-left : 20px;	
}

.form-show .form-group .form-control-item {
	padding-top : 5px 0px;
}

.form-show .form-group .form-field .form-control-static {
	font-size : 16px;
	padding : 5px 0px;
}

.form-show .form-group .form-field .form-control-block {
	padding : 5px 0px;
}

.form-show .section-heading {
	font-size : 14px;
	color : #2e9bd1;
	border-bottom : 2px solid #edeef0;
	margin : 0px -15px 0px 0px;
	padding : 20px 0px 10px 0px;
}

.form-show .section-body .form-group .form-field  {
	min-height:40px;
}


/**
 * 删除图标
 */
.file-remove-icon, .file-remove-icon:hover , .file-remove-icon2, .file-remove-icon2:hover{
	height:20px;
	width:20px;
	background-image:url('../melon/images/melon-commons-icon.png');
}
/*垃圾桶图标*/
.file-remove-icon {
	background-position:-112px -122px;
	margin-bottom: -5px; 
	margin-left: 6px;
	display: inline-block;
}
.file-remove-icon:hover{
	background-position:-138px -122px;
}
/* X 图标  */
.file-remove-icon2{
	background-position:-190px -122px;
	display: inline-block;
	margin-left: 6px;
	position: relative;
		top:4px;
}
.file-remove-icon2:hover{
	cursor:pointer;
	background-position:-216px -122px;
}

/*
 * 文件下载列表
 */
.file-item-group {
	padding : 9px 0px;
}

/*树形左右布局*/
/*左边布局*/
.col-left {
	padding-left:0px;
	padding-right:20px;
}
.tree-left{
	padding:0px 20px 0px 0px;
}
.col-left .tree-title{
	margin-bottom: 20px;
	font-size: 16px;
}
.col-left .navbar-collapse .navbar-left{
	margin:0px;
	padding-left:10px;
	padding-right:0px;
}

/*右边布局*/
.col-right{
	border-left:1px solid #e5e5e5;
	margin: -20px 0px; 
	padding-top: 20px; 
	padding-bottom: 20px;
	min-height:400px;
}

/*右边布局的表单样式*/
.col-right .form-horizontal {
	margin-left : 66px;
	margin-right:50px;
	margin-top : 20px;
}

/*右布局标题*/
.col-right .col-page-title {
	font-size:16px;
	padding-bottom: 15px;
	border-bottom:1px solid #edeef0;
}

/* 分布式明细样式       */
.melon-section .section-heading{
 	margin-bottom: 0px;
 	padding-top: 20px; 
 	padding-bottom: 10px;
}

/*树根节点说明*/
.col-right .section-body p{
	font-size : 14px;
	margin-bottom : 15px;
	text-indent: 2em; 
}
.col-right .section-body h5{
	margin-bottom:2px;
}
.col-right .section-heading {
	border-bottom:1px solid #edeef0;
	padding-bottom : 15px;
	margin-top : 0px;
}
.col-right .section-description{
	font-size: 12px;
	font-family: "Arial","微软雅黑","宋体";
	background-color: #ffffe0;
	color:#806e66;
	line-height:15px;
}


/* list标题距表格的距离 */
.page-list-body .section-body{
	padding-top:10px;	
}
/*标题*/
.form-show .section-heading .form-control-static{
	padding : 0px;
}
.form-show .form-group{
	margin-bottom: 0px;
}
.form-show .form-group .form-field .form-control-static{
	padding:9px 0px;
}
.form-show .form-group .control-label{
	padding-top:9px;
}

/* 分布式明细页面左侧导航 */
.melon-nav-panel{
	position: fixed;
	width:100px;
}


/*每个模块主页样式配置  */
.portal-main .page-header {
	//margin-bottom : 10px;
}

.portal-main .page-header>h4 {
	font-size : 16px;
}

.portal-main .page-header>p {
	line-height : 1em;
	font-size : 12px;
	color:#999;
	margin-bottom : 0px;
}
.portal-main .melon-protal-dataArea{
	width:280px;
	height:180px;
	background-image: url("images/melon-protal-dataBg.png");
	padding:14px 30px 14px 20px;
}

.portal-main .melon-protal-dataArea .userRate{
	color:#2e9bd1;
	font-size:36px;
	margin-left:56px;
}
.portal-main .melon-protal-dataArea span{
	color:#808080;
	font-size:12px;
}
.portal-main .portal-chart-a{
	width:270px;
	margin:28px 0px 20px 0px;
}
.melon-portal {
	border:1px solid #dbdbdb;
	border-left:0px;
	padding:0px 20px;
}

.melon-portal-heading {
	display:inline-block;
	padding:14px 0px;
}

.melon-portal-body {
	height:200px;
}

.melon-portal-body h1 {
	margin: 0px;
	padding-top: 50px;
   	text-align: center;
	font-size : 48px;
	color: #ffffff;
}
.melon-portal-body h1>small{
	font-size : 18px;
	color: #ffffff;
}

.melon-portal-body li.list-group-item {
	border-left-style : none;
	border-right-style : none;
}

.melon-portal-footer{
	padding:14px 0px;
	font-size:12px;
	color:#808080;
}

/*  标题  */
.page-header{
	line-height:1em;
}
.page-header h4{
	margin:0;
}
.page-header p{
	margin-top:10px ;
	margin-bottom:0;
	font-size:12px;
	color:#999;
}

/*下面的样式将全部废除,请勿再进行引用,已引用的将样式写入到页面中,请速速迁移*/
/**  
 *********登录页面*****************
*/
.login-border .login-logo{
	height:32px;
	background-image : url('images/melon-logo.png');
	background-position: -2px -102px;
}


/*组织机构每个区域人数明细*/
.organ .thumbnail{
	padding:0px;
}
.organ .thumbnail .caption{
	padding:8px 20px 20px 20px;
}
.row .organ{
	padding-right:20px;
	padding-left:0px;
}

/*下面的样式即将废除*/
/*  图标页面左侧标题  */

.page-header h3{
	font-size:16px;
	margin:0;
}
.portal-main .left-charts-a{
	display: inline-block;
	margin-top:26px;
	width:30%;
	text-align: center;
	font-weight: bold;
}
.left-charts .left-charts-a.chart-btn{
	width:100%;
	display: block;
}

.chart h4{
	font-size:16px;
	
}
.chart section p{
	font-size:12px;
	color:#808080;
	text-indent: 2em;
}
.chart section ol li strong{
	color:#c72a28;
	font-size:16px;
	font-style:italic;
}

.home-area-title{
	font-size:16px;
	padding-bottom:10px;
}


/**/
.chart-form-show .form-button-panel{
	padding-top:0px;
	float:right;
}
.chart-form-show .form-button-panel .form-buttons{
	padding-right:0px;
	margin-bottom:10px;
}
.chart-form-show .form-button-panel .form-buttons .btn-default{
	background-color: #edeef0;
	border-color:#e5e5e5;
	color:#808080;
	border-radius:2px;
	margin-left:4px;
}
.chart-form-show .form-button-panel .form-buttons .btn-default:hover{
	background-color: #2e9bd1;
	border:1px solid #2e9bd1;
	color:#fff;
	padding:5px 10px
}
.chart-form-show .form-button-panel .form-buttons .btn-default:active{
	background-color: #1970b2;
	color:#fff;
}

.chart-form-show .form-group{
	min-height:36px;
	line-height:36px;
	border-bottom:1px solid #edeef0;
	color:#808080;
	margin-bottom:0px;
}
.chart-form-show .form-group .control-label{
	font-size:14px;
	padding-top:0px;
}
.chart-form-show .form-group .form-field{
	color:#404040;
}
.chart-form-show .form-group .form-field a{
	font-weight: bold;
}
.chart-form-show .form-group .form-field .search{
	font-weight:bold;
	font-size:12px;
	text-decoration: underline;
	float:right;
}
/**/
.chart-form-show .nav > li > a{
	padding:5px 10px;
}

/*  资产明细 tab  */
.chart-form-show .row-tab {
	margin:40px -20px 0px -20px;
}
.chart-form-show .row-tab ul{
	padding:0px 20px;
}
.chart-form-show .row-tab .tab-content {
	margin-left:80px;
	margin-top:30px
}
.chart-form-show .row-tab .tab-content .form-group{
	border-bottom:0px;
}
.chart-form-show .row-tab .tab-content h4{
	font-size:14px;
	font-weight: bold;
}
.page-header .attention{
	font-size:12px;
	color:#808080;
	margin-left:20px;
	display: inline-block;
} 
/*  关注按钮     */
.chart-form-show .page-header .attention .btn-attention, .chart-form-show .page-header .attention .btn-cancelAttention,
	.chart-form-show .page-header .attention .btn-attention:active , .chart-form-show .page-header .attention .btn-attention:hover,
	.chart-form-show .page-header .attention .btn-cancelAttention:hover, .chart-form-show .page-header .attention .btn-cancelAttention:active{
	height:20px;
	width:64px;
	display:inline-block;
	background-image: url('images/attention-btn.png');
	position:relative;
		top:6px;
}
.chart-form-show .page-header .attention .btn-attention{
	background-position:-2px -2px;
}
.chart-form-show .page-header .attention .btn-attention:hover{
	background-position: -64px -2px;
}
.chart-form-show .page-header .attention .btn-attention:active{
	background-position: -128px -2px;
}
.chart-form-show .page-header .attention .btn-cancelAttention{
	background-position: -2px 22px;
}
.chart-form-show .page-header .attention .btn-cancelAttention:hover{
	background-position: -64px 22px;
}
.chart-form-show .page-header .attention .btn-cancelAttention:active{
	background-position: -128px 22px;
}


/*************************************登录前门户*******************************************/
.melon-gate-logo-row{
	background-color: #fff;
	border-bottom:1px solid #e1e4e5;
	height:48px;
}
.melon-gate-logo{
	height:	48px;
	width:320px;
	display:inline-block;
	background-image: url("images/melon-logo.png");
	background-position: -2px -52px;
}
/*登录注册链接*/
.melon-gate-logo-row .primary-login-group{
	display: inline-block;
	float:right;
	line-height:48px;
}
.melon-gate-logo-row .primary-login-group a{
	font-weight: bold;
}
/*一级菜单栏*/
.gate-menu{
	border:1px solid #e1e4e5;
}
.gate-menu .gate-menu-ul{
	padding-left: 0px;
}
.gate-menu .gate-menu-li{
	list-style-type: none;
	float:left;
}
.gate-menu .gate-menu-li a {
	height:48px;
	line-height:48px;
	display:inline-block;
	font-size:16px;
	color:#808080;
	padding:0px 32px;
	border-right:1px solid #f0f0f0;
}
/*大标题*/
.gate-bigNews{
	background-image:url("images/melon-gate-bg-bigNews.png");
	height:120px;
	color:#fff;	
	text-align: center;
}
.gate-bigNews .subhead{
	margin-top:24px;
	font-size:18px; 
	
}
.gate-bigNews .mainhead{
	font-size:28px; 
	font-weight:bold;
	margin-top:10px;
}
.gate-bigNews .content-version{
	font-size:12px; 
	margin-top:4px;
	filter:alpha(opacity=30); /*IE滤镜，透明度30%*/
	-moz-opacity:0.3; /*Firefox私有，透明度30%*/
	opacity:0.3;/*其他，透明度30%*/
}
/*安全通知*/
/*标题*/
.gate-header{
	font-size:16px;
	font-weight:bold;
	margin-top:-6px;
	margin-bottom:14px;
}
.sec-dynamic .list-group{
	margin-bottom:36px;
}
.sec-dynamic .list-group .list-group-item a{
	background-color: #ededed;
}
.sec-dynamic .list-group-item{
	padding:0px;
	margin-bottom: 0px;
	border:0px;
	border-bottom:1px solid #6a7f94;
}
.sec-dynamic .list-group-item a{
	display:block;
	white-space: nowrap;
	word-break:break-all;
	overflow: hidden;
	text-overflow:ellipsis;
	color:#3c3c3c;
	padding:15px 10px;
}
.sec-dynamic .list-group-item a:hover{
	color:#2e9bd1;
}
.sec-dynamic .more-dynamic{
	display:block;
	height:40px;
	width:100%;
	border:3px solid #2e9bd1;
	line-height:34px;
	text-align: center;
	font-weight:bold;
	text-decoration: none;
	background-color: #fff;
	color:#2e9bd1;
	margin-top:16px;
}
.sec-dynamic .more-dynamic:hover{
	background-color: #2e9bd1;
	color:#fff;
}
/*右侧图片轮流播放*/


/*安全通知TAB页*/
.center-row{
	width:100%;
	background-color:#fff;
	padding:0px;
	margin-top:20px;
	margin-left: -15px;
}
.center-row .nav-tabs li a {
	margin-bottom: 0px;
	border:0px;
	color:#3c3c3c;
}
.center-row .nav-tabs > li > a:hover{
	background-color: #fff;
}
.center-row .nav-tabs > li.active > a{
	color:#2e9bd1;
}
.center-row .tab-content .sec-head-ul{
	padding-left:0px;	
}	
.center-row .tab-content .sec-head-li{
	list-style-type:none;
	border-bottom:2px solid #fff;
	padding:0px 10px;
}
.center-row .sec-head-li-content{
	height:44px;
	background-color: #f0eeed;
	line-height:44px;
	width:100%;
}
.center-row .sec-head-icon{
	display: inline-block;
	height:16px;
	width:16px;
	background-image: url("images/melon-commons-icon.png");
	background-position: -344px -178px;
	margin-left:10px;
	margin-bottom:12px;
}
.center-row .tab-content .sec-head-li .sec-head-li-content a{
	display: inline-block;
	width:300px;
	color:#3c3c3c;
	white-space: nowrap;
	word-break: break-all;
	overflow:hidden;
	text-overflow:ellipsis;
	margin-left:10px;
}
.center-row .sec-head-li-content .dates{
	float:right;
	margin-right:10px;
	color:#808080;
}

/*安全标准*/
.sec-stander{
	margin:0px;
}
.sec-stander .stander-icon1, .sec-stander .stander-icon2, .sec-stander .stander-icon3, .sec-stander .stander-icon4{
	height:50px;
	width:50px;
	background-image: url("images/melon-logo.png");
	float:left;
	margin:10px 10px 40px 10px;
	
}
.sec-stander .stander-icon1{
	background-position: -101px -1px;
}
.sec-stander .stander-icon2{
	background-position: -152px -1px;
}
.sec-stander .stander-icon3{
	background-position: -200px -1px;
}
.sec-stander .stander-icon4{
	background-position: -252px -2px;
}
.sec-stander .stander-title{
	display: inline-block;
	margin-top:10px;
	width:340px;
	white-space:nowrap;
	word-break:break-all;
	overflow: hidden;
	text-overflow:ellipsis;
}
.sec-stander .stander-title-desc{
	margin-bottom:26px;
	font-size:12px;
	color:#808080;
	height:52px;
	overflow: hidden;
	text-overflow:ellipsis;
}

/*portal*/
.portal-work .passed-link {
	background-image: url("images/work-passed.png");
	background-repeat: no-repeat;
	background-position:5px 20px;
	padding-left: 20px;
}
.portal-work .undo-link {
	background-image: url("images/work-undo.png");
	background-repeat: no-repeat;
	background-position:5px 20px;
	padding-left: 20px;
}

/*登录区*/
.gate-login-group{
	height:76px;
	width:100%;
	margin-left: -15px;
	padding:20px 20px 20px 0px;
	border-bottom:1px solid #e1e4e5;
	border-top:1px solid #e1e4e5;
}

.gate-login-group .login-tip{
	float:left;
	margin-left:20px;
	color:#2e9bd1;
	font-size:16px;
	line-height: 36px;
}
.gate-login-group .login-username, .gate-login-group .login-password{
	float:left;
	height:36px;
	width:30%;
	border:1px solid #e1e4e5;
	background-color: #fff;
	margin-left:10px;
}
.gate-login-group .btn-login, .gate-login-group .login-register{
	float:left;
	height:36px;
	margin-left:10px;
	padding-left:32px;
	padding-right:32px;
}
.gate-login-group .btn-login:hover{
	background-color: #1970b2;
}
.gate-login-group .login-register{
	background-color:#2f5494;
}
.gate-login-group .login-register:hover{
	background-color: #2a4b85;
}
.gate-login-group .login-register:active{
	background-color:#27467a;
}
.gate-login-group .forget-pwd{
	float:left;
	line-height:36px;
	margin-left:10px;
	color:#808080;
	font-size:12px;
	font-weight:bold;
}










/****************************************完*********************************************/