.table-doc-table {
	margin-left: 0px !important;
	overflow-y: auto;
}

.table-sidebar {
	width: 200px;
	display: table-cell;
	padding-right: 10px;
}

.table-main {
	width: 100%;
	display: table-cell;
}

.table-container {
	display: table;
	height: 100px;
	width: 100%;
	table-layout: fixed;
}

.table-fieldname {
	white-space: nowrap;
}

.table-fieldname a {
	word-wrap: break-word;
	white-space: normal;
}

.table-details {
	table-layout: fixed;
}

.table-details-field {
	width: 200px;
}

.table-details-action {
	width: 60px;
	text-align: center;
}

.table-details-value {
	
}

.table-field-value {
	white-space: pre-wrap;
}

.table-facet {
	padding: 10px;
	border: 1px solid #666;
}