<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>{{share.title}} <small>共享连接</small></h3>
</div>
<div class="modal-body">
  <label>配置仪表板的URL地址</label>
  <input ng-model='share.link' type="text" style="width:90%" onclick="this.select()" onfocus="this.select()" ng-change="share = dashboard.share_link(share.title,share.type,share.id)">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="dismiss();$broadcast('render')">关闭</button>
</div>
